{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ paper.title }}{% endblock %}
{% block extra_head %}
  {{ styles|safe }}
  {{ scripts|safe }}
  <link rel="stylesheet" href="{% static "css/feedback.css" %}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block footer_class %}footer-paper{% endblock %}
{% block before_content %}
  <div class="wtf-is-this-bar">
    <div class="container">
      <p>Arxiv Vanity renders academic papers from <a href="https://arxiv.org/">Arxiv</a> as responsive web pages so you don&rsquo;t have to squint at a PDF. <!-- <a href="/about/">Learn more.</a> --></p>
      <!-- <p><strong>It is a work in progress.</strong> If this paper is not displaying properly, you&rsquo;re probably better off viewing <a href="{{ paper.get_https_pdf_url }}">the PDF version</a>.</p> -->
      <p>Do you like Arxiv Vanity? <a href="https://www.patreon.com/arxivvanity">Support us on Patreon!</a></p>
      <!-- <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
  </div>
{% endblock %}
{% block content %}
  {{ body|safe }}
{% endblock %}
{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
  <script src="{% static "js/feedback.js" %}"></script>
  <script>
    $(function() {
      screenshooter = new Screenshooter();

      feedbackForm = new FeedbackForm(screenshooter);
    });
  </script>
{% endblock %}
