{% extends "base.html" %}
{% load static %}
{% block title %}{{ paper.title }}{% endblock %}
{% block extra_head %}
  {{ links|safe }}
  {{ styles|safe }}
  {{ scripts|safe }}
  <link rel="stylesheet" href="{% static "css/feedback.css" %}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block before_content %}
  <div class="arxiv-vanity-wrapper">
    <div class="wtf-is-this-bar">
      <p>
        <a href="/">arXiv Vanity</a> renders academic papers from <a href="https://arxiv.org/">arXiv</a> as responsive web pages so you don&rsquo;t have to squint at a PDF.
        <a href="{{ paper.get_https_arxiv_url }}" class="ml-1">Read this paper on arXiv.org.</a>
      </p>
    </div>
  </div>
{% endblock %}
{% block content %}
  {{ body|safe }}
{% endblock %}
{% block extra_js %}
  <script src="{% static "js/vendor/html2canvas.min.js" %}"></script>
  <script src="{% static "js/feedback.js" %}"></script>
  <script>
    $(function() {
      screenshooter = new Screenshooter();

      feedbackForm = new FeedbackForm(screenshooter);
    });

    mixpanel.track("View Paper", {"arxiv_id": "{{ paper.arxiv_id|escapejs }}"});
    mixpanel.track_links(".ltx_bibliography a", "Click Link In Bibliography", {"arxiv_id": "{{ paper.arxiv_id|escapejs }}"})

    // track_links isn't live, so we need to re-run when tooltips are opened
    if (window.MutationObserver) {
      var obs = new MutationObserver(function(mutations, observer) {
        var selector = ".tippy-popper .ltx_bibitem a";
        // mixpanel throws error if nothing is selected
        if (document.querySelector(selector)) {
          mixpanel.track_links(selector, "Click Link In Bibliography", {
            "arxiv_id": "{{ paper.arxiv_id|escapejs }}",
            "tooltip": true
          })
        }
      });
      obs.observe(document.body, {childList: true})
    }

  </script>
{% endblock %}
