{% extends 'base.html' %}
{% load humanize %}
{% load papers %}
{% load rangepaginator %}

{% block title %}Latest Papers{% endblock %}

{% block before_content %}
  {% include "includes/wtf_is_this.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-lg-9 my-5">
        <h2>Latest Papers</h2>
        <hr>
        {% for paper in object_list %}
          <div class="paper-list-item">
            <h3><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h3>
            <p class="text-secondary">{{ paper.published|date:"j F Y" }}</p>
            <!-- <p class="author">{% for author in paper.authors %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->
            <p class="abstract">{{ paper.summary|truncatechars:200 }}</p>
            <p>
              {% for category in paper.categories %}
                {% category_badge category %}
              {% endfor %}
            </p>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
    <div class="row justify-content-left">
      <div class="col-lg-9">
        {% paginate page_obj request=request %}
      </div>
    </div>
  </div>
{% endblock %}
