{% extends "base.html" %}
{% block title %}Could not find paper{% endblock %}
{% block footer_class %}fixed{% endblock %}
{% block content %}
  <div class="arxiv-vanity-wrapper paper-detail-status">
    <div class="paper-detail-status-inner">
      <p>{{ message }}</p>
      <p>Here are some examples of supported arXiv URLs:</p>
      <ul class="urls-example-list">
        <li>https://arxiv.org/abs/1709.04466</li>
        <li>https://arxiv.org/pdf/1904.08653.pdf</li>
        <li>arxiv:1503.02531</li>
      </ul>
      </p>
      <p><a href="/">Go back home</a></p>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  {% if query %}
  <script>
    mixpanel.track("Invalid Query", {"query": "{{ query|escapejs }}"});
  </script>
  {% endif %}
{% endblock %}
