{% extends "base.html" %}
{% load static %}
{% block title %}{{ paper.title }}{% endblock %}
{% block extra_head %}
  <meta name="description" content="Read this arXiv paper as a responsive web page with clickable citations.">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="{{ ROOT_URL }}{{ paper.get_absolute_url }}">
  <meta property="og:title" content="{{ paper.title }}">
  <meta property="og:description" content="{{ abstract|default:'' }}">
  <meta property="og:image" content="{{ first_image|default:'' }}">

  {% comment %}
    https://scholar.google.com/intl/en/scholar/inclusion.html#indexing
  {% endcomment %}
  <meta name="citation_title" content="{{ paper.title }}">
  {% spaceless %}
    {% for author in paper.authors %}
      {% if author.name %}
        <meta name="citation_author" content="{{ author.name }}">
      {% endif %}
    {% endfor %}
  {% endspaceless %}
  <meta name="citation_date" content="{{ paper.published|date:'Y/m/d' }}">
  <meta name="citation_pdf_url" content="{{ paper.get_https_pdf_url }}">
  <meta name="citation_arxiv_id" content="{{ paper.arxiv_id }}">

  {{ links|safe }}
  {{ styles|safe }}
  {{ scripts|safe }}
  <link rel="stylesheet" href="{% static "css/feedback.css" %}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block before_content %}
  {% include "includes/wtf_is_this.html" %}


{% endblock %}
{% block content %}
  {{ body|safe }}

<div class="arxiv-vanity-wrapper">
  <div class="container">
    <div class="mailing-list-form">
      <p>Want to hear about new tools we're making? Sign up to our mailing list for occasional updates.</p>
      <form class="" action="https://arxiv-vanity.us20.list-manage.com/subscribe/post?u=89a0a8a4a93b64f135424ff93&amp;id=d74df3a609" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-row  justify-content-center">
          <input class="form-control mx-3" style="width: 15em" type="email" value="" name="EMAIL"  id="mce-EMAIL" placeholder="Enter your email address">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_89a0a8a4a93b64f135424ff93_d74df3a609" tabindex="-1" value=""></div>
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
  

{% endblock %}
{% block extra_js %}
  <script src="{% static "js/vendor/html2canvas.min.js" %}"></script>
  <script src="{% static "js/feedback.js" %}"></script>
  <script>
    $(function() {
      screenshooter = new Screenshooter();

      feedbackForm = new FeedbackForm(screenshooter);
    });

    // God we need a javascript build system
    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };

    // Track reading a paper and how long spent reading paper
    // https://github.com/mixpanel/mixpanel-js/issues/184
    function trackPaperView() {
      var startTime;
      var maxScroll;

      function handlePageshow() {
        startTime = new Date().getTime();
        maxScroll = 0;
        mixpanel.track("View Paper", {"arxiv_id": "{{ paper.arxiv_id|escapejs }}"});
      }
      // pageshow event is used here instead of just running the code so it'll handles back/forward buttons
      // when page is frozen
      window.addEventListener('pageshow', handlePageshow, false);

      // Track how far down page user has scrolled
      // Based on https://github.com/googleanalytics/autotrack/blob/master/lib/plugins/max-scroll-tracker.js
      function handleScroll(event) {
        var html = document.documentElement;
        var body = document.body;
        var pageHeight = Math.max(html.offsetHeight, html.scrollHeight, body.offsetHeight, body.scrollHeight);
        var scrollPos = window.pageYOffset; // scrollY isn't supported in IE.
        var windowHeight = window.innerHeight;
        var scrollPercentage = Math.min(100, Math.max(0, Math.round(100 * (scrollPos / (pageHeight - windowHeight)))));
        if (scrollPercentage > maxScroll) {
          maxScroll = scrollPercentage;
        }
      }
      window.addEventListener('scroll', debounce(handleScroll, 500));

      function handleUnload() {
        var duration = new Date().getTime() - startTime;
        var data = {
          event: 'View Paper Exit',
          properties: {
            token: '{{ MIXPANEL_TOKEN }}',
            arxiv_id: "{{ paper.arxiv_id|escapejs }}",
            max_scroll: maxScroll,
            // time_reading is in seconds.
            time_reading: parseFloat((duration / 1000).toFixed(3)),
          }
        };
        Object.assign(data.properties, mixpanel._.info.properties());
        Object.assign(data.properties, mixpanel['persistence'].properties());
        var newdata = btoa(JSON.stringify(data));
        navigator.sendBeacon('https://api.mixpanel.com/track/?ip=1&data=' + newdata);
      }
      window.addEventListener('beforeunload', handleUnload, false);
    };
    if (!mixpanel.has_opted_out_tracking()) {
      trackPaperView();
    }

    // Track clicking bibliography links
    mixpanel.track_links(".ltx_bibliography a", "Click Link In Bibliography", {
      "arxiv_id": "{{ paper.arxiv_id|escapejs }}",
      "tooltip": false
    });
    mixpanel.track_links(".ltx_cite a", "Click Link In Bibliography", {
      "arxiv_id": "{{ paper.arxiv_id|escapejs }}",
      "tooltip": true
    });

    // track_links isn't live, so we need to re-run when tooltips are opened
    if (window.MutationObserver) {
      var obs = new MutationObserver(function(mutations, observer) {
        var selector = ".tippy-popper .ltx_bibitem a";
        // mixpanel throws error if nothing is selected
        if (document.querySelector(selector)) {
          mixpanel.track_links(selector, "Click Link In Bibliography", {
            "arxiv_id": "{{ paper.arxiv_id|escapejs }}",
            "tooltip": true
          })
        }
      });
      obs.observe(document.body, {childList: true})
    }

  </script>
{% endblock %}
