{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_PROPERTY_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}');
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}" media="screen" title="no title" charset="utf-8">

    <title>{% block whole_title %}{% block title %}{% endblock %} – Arxiv Vanity{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md">
      <div class="container">
        <a class="navbar-brand" href="/">Arxiv Vanity</a>
      </div>
    </nav>
    {% block before_content %}{% endblock %}
    <div class="content">
      {% block content %}(no content){% endblock %}
    </div>

    <footer class="{% block footer_class %}{% endblock %}">
      <div class="container">
        <span>Built by <a href="http://andreas.jansson.me.uk/">Andreas Jansson</a> and <a href="https://fir.sh">Ben Firshman</a>.</span>
        <span>Paper rendering based on <a href="https://distill.pub/">Distill</a>.</span>
        <span><a href="https://github.com/arxiv-vanity">Contribute on GitHub</a>.</span>
      </div>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    {% comment %}<script src="{% static "js/main.js" %}"></script>{% endcomment %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
