{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_PROPERTY_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}');
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}" media="screen" title="no title" charset="utf-8">

    <title>{% block whole_title %}{% block title %}{% endblock %} – arXiv Vanity{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block before_content %}{% endblock %}

    {% block content %}(no content){% endblock %}

    <div class="arxiv-vanity-wrapper">
      <footer class="{% block footer_class %}{% endblock %}">
        <div class="container mb-3">
          <span>Built by <a href="https://github.com/andreasjansson">Andreas Jansson</a> and <a href="https://twitter.com/bfirsh">Ben Firshman</a>, with help from <a href="http://dlmf.nist.gov/LaTeXML/">LaTeXML</a>.</span>
          <span><a href="https://github.com/arxiv-vanity">Contribute on GitHub.</a></span>
        </div>
        <div class="container">
          <span>Kindly sponsored by <a href="https://www.yld.io/">YLD</a>.</span>
          <span><a href="https://www.patreon.com/arxivvanity">Support us on Patreon.</a></span>
        </div>
      </footer>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="{% static "js/main.js" %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
