{% extends 'base.html' %}
{% load static %}
{% block title %}Sponsors{% endblock %}
{% block content %}
  <div class="container page-container">
      <p>Thanks to our sponsors for supporting arXiv Vanity. It wouldn't be possible to run it without them.</p>
      <br>
      <p><a href="https://www.yld.io/" target="_blank" class="image-link"><img src="{% static 'sponsor-yld.png' %}" alt="YLD" width="250" /></a></p>
      <br>
      <p><a href="https://www.patreon.com/arxivvanity">Become a sponsor.</a></p>
  </div>
{% endblock %}
