[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
django-storages = "*"
"boto3" = "*"
raven = "*"
django-db-geventpool = "*"
gevent = "*"
djangorestframework = "*"
celery = "*"
watchdog = "*"
redis = "*"
timeout-decorator = "*"
docker = "*"

[dev-packages]

[requires]
python_version = "3.6"
