Django==2.2.6
psycopg2-binary==2.8.3
django-environ==0.4.5
gunicorn==19.9.0
whitenoise==4.1.4
requests==2.22.0
python-dateutil==2.8.0
docker==4.0.2
beautifulsoup4==4.8.1
lxml==4.4.1
django-storages==1.7.2
boto3==1.5.0
PyGithub==1.43.8
sentry-sdk==0.12.3
vcrpy==2.0.1
django-db-geventpool==3.1.0
gevent==1.4.0
pylint==2.4.1
pylint-django==2.0.11
black==19.3b0
