Django==2.2.26
psycopg2-binary==2.8.6
django-environ==0.8.1
gunicorn==20.0.4
whitenoise==4.1.4
requests==2.25.1
python-dateutil==2.8.2
docker==4.1.0
lxml==4.6.5
lxml-stubs==0.3.0
django-storages==1.11.1
boto3==1.5.0
PyGithub==1.43.8
sentry-sdk==1.5.2
vcrpy==2.0.1
django-db-geventpool==3.2.3
gevent==21.12.0
pylint==2.12.2
pylint-django==2.3.0
black==21.12b0
randomcolor==0.4.4.6
django-rangepaginator==1.2.0
newrelic==5.24.0.153
git+https://github.com/FullFact/django-fastsitemaps.git@b9e53399dce0fa113d9cb1ef74e333b09d50d339#egg=django-fastsitemaps
