.feedback-current-screenshot {
    max-height: 300px;
    max-width: 400px;
    overflow: hidden;
}

.feedback-current-screenshot canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.feedback-lip-button {
    display: none;
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 10px 20px;
    z-index: 100;
    opacity: 0.8;
    transition: padding 0.2s, opacity 0.2s;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
}

@media (min-width: 1024px) {
  .feedback-lip-button {
    display: block;
  }
}

.feedback-lip-button:hover {
    opacity: 1;
    transition: all 0.2s;
}

#screenshot-rect {
    position: fixed;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .1);
}

#screenshot-rect.processing {
    border: none;
    background-color: transparent;
    animation: animateRectBorder 1s infinite;
    outline: 5px dotted black;
    box-shadow: 0px 0px 0px 2000px white;
    transition: box-shadow 0.5s linear
}

@keyframes animateRectBorder {
    0% {
        outline-width: 5px;
    }
    50% {
        outline-width: 10px;
    }
}
