/* Layout */

html, body {
  height: 100%;
}

.arxiv-vanity-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
@media (min-width: 1080px) {
  .arxiv-vanity-wrapper {
    font-size: 18px;
  }
}

.arxiv-vanity-wrapper a,
.arxiv-vanity-wrapper a:hover {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.arxiv-vanity-wrapper a.image-link {
  border-bottom: none;
}

/* Forms */

.arxiv-vanity-wrapper form,
.arxiv-vanity-wrapper .btn,
.arxiv-vanity-wrapper .modal,
.arxiv-vanity-wrapper .pagination {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

.arxiv-vanity-wrapper .btn-primary,
.arxiv-vanity-wrapper .btn-primary:hover {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
  color: #fff;
}


/* Components */


.arxiv-vanity-wrapper footer {
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  padding-top: 26px;
  padding-bottom: 60px;
  text-align: center;
}

@media (min-width: 768px) {
  .arxiv-vanity-wrapper footer {
    font-size: 14px;
  }

  .arxiv-vanity-wrapper footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 26px;
  }
}

.arxiv-vanity-wrapper footer span {
  margin-right: 0.5em;
}

.paper-detail-status {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.paper-detail-status h1,
.paper-detail-status h2,
.paper-detail-status h3 {
  font-family: Baskerville, Georgia, serif;
}

.page-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.wtf-is-this-bar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  /*color: rgba(0,0,0,0.5);*/
  background: rgb(250, 250, 250);
  position: relative;
  padding: 1rem 14px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .wtf-is-this-bar {
    font-size: 16px;
    padding: 1rem 2rem;
  }
}

.wtf-is-this-bar p:last-child {
  margin-bottom: 0;
}

.wtf-is-this-bar strong {
  font-weight: 600;
}

.page-home-inner {
  margin: 2em;
  margin-top: 6em;
}

.page-home .tagline {
  font-size: 1.2rem;
}
.page-home input {
  font-weight: 300;
}
.page-home input:focus {
  border: 1px solid rgba(0,0,0,.15);
}

.page-home .bookmarklet {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .page-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2em;
    padding-bottom: 160px;
  }

  .page-home-inner {
    max-width: 800px;
  }
  .page-home .tagline {
    font-size: 2rem;
  }
}
