/* Layout */

/* Make stuff the same width as distill */

.container {
  width: auto;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    margin-left: 72px;
    margin-right: 72px;
  }
}

@media (min-width: 1080px) {
  .container {
    /* 984 (distill width) + 15 * 2 (padding in bootstrap) */
    width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Type */

body {
  color: rgba(0,0,0,0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 1080px) {
  body {
    font-size: 18px;
  }
}

/* HACK: damn these style sheets and their cascading */
dt-appendix h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

a,
a:hover {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

a.image-link,
a.image-link {
  border-bottom: none;
}

/* Forms */

form,
.btn,
.modal,
.pagination {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

.btn-primary, .btn-primary:hover {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
}


/* Components */

footer {
  font-size: 14px;
  color: rgba(0,0,0,0.5);
  padding-top: 26px;
  padding-bottom: 60px;
  text-align: center;
}

@media (min-width: 768px) {
  footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 26px;
  }
}

footer.footer-paper {
  background: rgb(250, 250, 250);
}

footer span {
  margin-right: 0.5em;
}

.paper-detail-status {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.paper-detail-status h1,
.paper-detail-status h2,
.paper-detail-status h3 {
  font-family: Baskerville, Georgia, serif;
}

.page-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.wtf-is-this-bar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  /*color: rgba(0,0,0,0.5);*/
  background: rgb(250, 250, 250);
  position: relative;
  padding: 1rem 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .wtf-is-this-bar {
    font-size: 16px;
  }
}

.wtf-is-this-bar p:last-child {
  margin-bottom: 0;
}

.wtf-is-this-bar strong {
  font-weight: 600;
}

.page-home {
  margin-top: 3em;
}

.page-home .tagline {
  font-size: 1.2rem;
}
.page-home input {
  font-weight: 300;
}

@media (min-width: 768px) {
  .page-home {
    margin-top: 6em;
  }
  .page-home .tagline {
    font-size: 1.5rem;
  }
}
