{% extends 'base.html' %}
{% load typogrify_tags %}

{% block whole_title %}Arxiv Vanity{% endblock %}

{% block content %}
  <div class="container paper-list">
    <div class="row justify-content-left">
      <div class="col-lg-9">
        <h2>Latest papers</h2>
        <hr>
        {% for paper in object_list %}
          <div class="paper-list-item">
            <h3><a href="{{ paper.get_absolute_url }}">{{ paper.title|widont }}</a></h3>
            <p class="author">{% for author in paper.authors %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p class="abstract">{{ paper.summary|truncatechars:200 }}</p>
            <p>
              {% for category in paper.categories %}
                <span class="badge badge-success">{{ category }}</span>
              {% endfor %}
            </p>
          </div>
          <hr>
        {% endfor %}
        {% include "includes/pagination.html" with page_obj=page_obj only %}
      </div>
    </div>
  </div>
{% endblock %}
