/* Layout */

/* Make stuff the same width as distill */

.container {
  width: auto;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    margin-left: 72px;
    margin-right: 72px;
  }
}

@media (min-width: 1080px) {
  .container {
    /* 984 (distill width) + 15 * 2 (padding in bootstrap) */
    width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Type */

body {
  color: rgba(0,0,0,0.8);
  font-family: Georgia, serif;
  font-size: 16px;
}

@media (min-width: 1080px) {
  body {
    font-size: 18px;
  }
}

h1, h2, h3 {
  font-family: Baskerville, Georgia, serif;
}

/* HACK: damn these style sheets and their cascading */
dt-appendix h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

/* override bootstrap setting stuff we don't want */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Components */

.badge {
  padding: 0.4rem 0.5rem;
  margin-right: 0.5rem;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

.navbar {
  padding: 1rem 0;
  font-family: sans-serif;
  background-color: hsla(0, 59%, 40%, 0.9);
}

.navbar .navbar-brand {
  color: rgba(255, 255, 255, 1.0) !important;
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  margin-right: 0;
}

.navbar .navbar-brand .logo {
  color: rgba(255, 255, 255, 1.0) !important;
  font-size: 1.4em;
}

.navbar .navbar-brand:hover {
  color: rgba(255, 255, 255, 1.0) !important;
}

.content {
  margin-top: 4rem;
}

.paper-list {
  margin-bottom: 4rem;
}

.paper-list .pagination {
  margin-top: 4rem;
}

.paper-list-item {
  margin-bottom: 2rem;
}
.paper-list-item img {
  width: 100%;
  margin-top: 2rem;
}
.paper-list-item h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .paper-list-item h3 {
    font-size: 1.75rem;
  }
}

.paper-list-item h3 a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
}

.paper-list-item .abstract,
.paper-list-item .abstract a {
  color: rgba(0, 0, 0, 0.8);
}
.paper-list-item .author {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}
.paper-list-item.abstract a {
  text-decoration: underline;
}

.wtf-is-this-bar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  /*color: rgba(0,0,0,0.5);*/
  background: rgb(250, 250, 250);
  position: relative;
  padding: 1rem 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 16px;
}
